<!DOCTYPE html>
<html land="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<style>
		body {
  			background-color: #f2f2f2;
  			font-family: sans-serif;
		}
		#container {
  			width: 480px;
  			margin: auto;
		}
		.input-field {
  			width: 100%;
  			margin-top: 20px;
  			margin-bottom: 20px;
		}
		.input-field input {
  			width: 100%;
  			height: 30px;
  			padding: 0 10px;
  			border: 1px solid #ccc;
  			outline: none;
		}
		.input-field button {
  			background-color: #4CAF50;
  			border: none;
  			color: white;
  			padding: 10px 20px;
  			text-align: center;
  			text-decoration: none;
  			cursor: pointer;
  			outline: none;
		}
		.error-msg {
  			color: red;
		}
	</style>
</head>
<body>
	<div id="container">
  		<form>
    		<div class="input-field">
      			<label><%= "Mobile :" %></label>
      			<input type="text" id="mobile"/>
    		</div>
    		<div class="input-field">
      			<label><%= "Password :" %></label>
      			<input type="password" id="password"/>
    		</div>
    		<div class="input-field">
      			<button type="submit" id="login-btn" disabled><%= "Login" %></button>
      			<button type="submit" id="register-button" onclick="window.location.href='localhost:3000/signup'"><%= "Register" %></button>
    		</div>
    		<div class="error-msg" id="error-msg"></div>
  		</form>
	</div>
	<script>
		let mobile = document.getElementById('mobile');
		let password = document.getElementById('password');
		let loginBtn = document.getElementById('login-btn');
		let registerButton = document.getElementById('register-button');
		let errorMsg = document.getElementById('error-msg');

		
        mobile.addEventListener('input', () => {
            if (mobile.value.length == 11) {
                if (password.value.length > 0) {
                    loginBtn.disabled = false;
                }
            } else {
                loginBtn.disabled = true;
            }
        });

        password.addEventListener('input', () => {
            if (password.value.length > 0) {
                if (mobile.value.length == 11) {
                    loginBtn.disabled = false;
                }
            } else {
                loginBtn.disabled = true;
            }
        });

        registerButton.addEventListener('click', (e) => {
            e.preventDefault();
            location.href = '<%= "http://localhost:3000/signup" %>';
        });

		let ws = new WebSocket('ws://localhost:8080');

		loginBtn.addEventListener('click', (e) => {
			e.preventDefault();

			let data = {
				mobile: mobile.value,
				password: password.value
			}

			ws.send(JSON.stringify(data));

			ws.onmessage = (msg) => {
				if(msg.data === 'true') {
					location.href = '<%= "http://localhost:3000/messaging" %>';
				} else if(msg.data === 'false') {
					console.log('password incorrect!');
				}
			}
		});
	</script>
</body>
</html>