<!DOCTYPE html>
<html lang="en">
<head>
	<title>Messaging Page</title>
	<style>
		body {
  			background-color: #f2f2f2;
  			font-family: sans-serif;
		}
		#container {
  			width: 480px;
  			margin: auto;
		}
		.input-field {
  			width: 100%;
  			margin-top: 20px;
  			margin-bottom: 20px;
		}
		.input-field input {
  			width: 100%;
  			height: 30px;
  			padding: 0 10px;
  			border: 1px solid #ccc;
  			outline: none;
		}
		.input-field button {
  			background-color: #4CAF50;
  			border: none;
  			color: white;
  			padding: 10px 20px;
  			text-align: center;
  			text-decoration: none;
  			cursor: pointer;
  			outline: none;
		}
		.error-msg {
  			color: red;
		}
		.contact {
  			margin-bottom: 10px;
		}
		.contact-name {
  			margin-right: 10px;
		}
		#dialogue-output {
  			background-color: #ffffff;
  			min-height: 200px;
  			width: 100%;
  			overflow: auto;
  			margin-bottom: 10px;
  			padding: 10px;
		}
		.Output {
  			color: #000000;
  			border-radius: 5px;
  			margin-bottom: 10px;
  			padding: 10px;
		}
		.sent-message {
  			text-align: right;
  			background-color: #f2f2f2;
		}
		.received-message {
  			background-color: #f2f2f2;
		}
	</style>
</head>
<body>
  <div id="container">
    <%
      let contacts;
      let messages;
      let message;
      let sendBtnDisabled;
      let errorMsg;
      let token;
    %>
    
    <div class="input-field">
      <form action="">
        <label>Name of contact:</label>
      </form>
    </div>
    
    <hr>
		
    <div class="input-field">
      <label>Contacts List:</label>
      <ul id="contacts"><%= contacts %></ul>
    </div>
    
    <div class="input-field">
      <label>Dialog Space:</label>
      <div id="dialogue-output"><%= messages %></div>
    </div>
    
    <div class="input-field">
      <label>Send Message:</label>
      <form action="">
        <input type="text" id="message" value="<%= message %>"/>
        <button type="submit" id="send-btn" <%= sendBtnDisabled %>>Send</button>
        <button type="submit" id="refresh-btn">Refresh</button>
      </form>
    </div>
    <div class="error-msg" id="error-msg"><%= errorMsg %></div>
  </div>
    <script>
      let contacts = document.getElementById('contacts');
      let message = document.getElementById('message');
      let sendBtn = document.getElementById('send-btn');
      let refreshBtn = document.getElementById('refresh-btn');
      let errorMsg = document.getElementById('error-msg');
      let dialogueOutput = document.getElementById('dialogue-output')
      let selectedContactNumber;
      let contactName;

      // Function to set cookie data
      function setCookie(cname, cvalue, exdays) {
        let d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      // Getting data from the cookie
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
      }

      let token = getCookie('token');
    
      let ws = new WebSocket('ws://localhost:8080');
  
      ws.onopen = function() {
        console.log('Connection established');
        ws.send(JSON.stringify({
          action: "getContacts",
          token: token
        }));
      }

    ws.onmessage = function(msg) {
  
        let data = JSON.parse(msg.data);
        
        if (data.type === 'contacts') {
          contacts.innerHTML = '';
          data.contacts.forEach(function(contact) {
    
            let li = document.createElement('li');

            li.className = 'contact';
            li.innerHTML = '<span class="contact-name">' + contact.name + '</span>' + contact.number;
            li.addEventListener('click', function() {
              selectedContactNumber = contact.number;
              contactName = contact.name;
              document.querySelector('label').innerHTML = contactName;
              ws.send(JSON.stringify({
                type: "getMessages",
                contactNumber: contact.number,
                token: token
              }));
            });

            contacts.appendChild(li);
          });
        } else if (data.type === 'messages') {
          dialogueOutput.innerHTML = '';
          data.messages.forEach(function(message) {
            let div = document.createElement('div');
            div.className = (message.sender === selectedContactNumber) ? 'sent-message Output' : 'received-message Output'; 
            div.innerHTML = message.message;
            dialogueOutput.appendChild(div);
            dialogueOutput.scrollTop = dialogueOutput.scrollHeight;
          });
        }
      }
		
      message.addEventListener('input', function() {
        if (message.value.length > 0) {
          sendBtn.disabled = false;
        } else {
          sendBtn.disabled = true;
        }
      });
  
      sendBtn.addEventListener('click', function() {
        ws.send(JSON.stringify({
          action: 'send',
          message: message.value,
          contactNumber: selectedContactNumber,
          token: token
        }));
        message.value = '';
        sendBtn.disabled = true;
      });
  
      refreshBtn.addEventListener('click', function() {
        ws.send(JSON.stringify({
            type: 'getContacts',
            token: token
        }));
        document.querySelector('label').innerHTML = contactName;
      });
    </script>
</body>
</html>