<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Messaging Page</title>
	<style>
    body {
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    #container {
      background-color: #fff;
      margin: 20px auto;
      padding: 20px;
      width: 400px;
    }

    #mainContainer {
      text-align: center;
      margin-bottom: 20px;
    }

    #contacts {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .contact {
      cursor: pointer;
      padding: 5px 0;
    }

    .contact:hover {
      background-color: #f2f2f2;
    }

    #dialogue-output {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      padding: 10px;
      height: 200px;
      overflow-y: scroll;
    }

    .sent-message {
      background-color: #e2f3ff;
      padding: 5px;
      margin-bottom: 5px;
      text-align: right;
    }

    .received-message {
      background-color: #f7f7f7;
      padding: 5px;
      margin-bottom: 5px;
      text-align: left;
    }

    .msg-created-date {
      color: #999;
    }

    .input-field {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"] {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
    }

    button {
      padding: 5px 10px;
      border: none;
      color: #fff;
      background-color: #007bff;
      cursor: pointer;
      margin-right: 10px;
    }

    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    .error-msg {
      color: #ff0000;
      margin-top: 5px;
    }

    #bottomContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }

    #send-btn {
      margin-bottom: 10px;
      background-color: #17a2b8;
    }

    #logout-btn {
      background-color: #dc3545;
    }

    .center-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .center-buttons button {
      margin: 0 10px;
    }
	</style>
</head>
<body>
  <div id="container">
    <%
      let contacts;
      let messages;
      let message;
      let sendBtnDisabled;
      let errorMsg;
      let token;
    %>
    
    <div class="input-field">
      <div id="mainContainer">
        <label>Name of contact:</label>
      </div>
    </div>
    
    <hr>
		
    <div class="input-field">
      <label>Contacts List:</label>
      <ul id="contacts"><%= contacts %></ul>
    </div>
    
    <div class="input-field">
      <label>Dialog Space:</label>
      <div id="dialogue-output"><%= messages %></div>
    </div>
    
    <div class="input-field">
      <label>Send Message:</label>
      <form>
        <input type="text" id="message" value="<%= message %>"/>
        <button type="submit" id="send-btn" <%= sendBtnDisabled %>>Send</button>
        <button type="submit" id="refresh-btn">Refresh</button>
      </form>
    </div>
    
    <div class="input-field">
      <button type="button" id="edit-contact-btn">Edit Contact Name</button>
    </div>

    <div class="error-msg" id="error-msg"><%= errorMsg %></div>
  </div>

  <div id="belowDiv" class="center-buttons">
    <button type="button" id="show-list-btn">Show Add Contact List</button>
    <div>
      <button type="button" id="logout-btn">Logout</button>
    </div>
  </div>
    <script>
      let contacts = document.getElementById('contacts');
      let message = document.getElementById('message');
      let sendBtn = document.getElementById('send-btn');
      let refreshBtn = document.getElementById('refresh-btn');
      let errorMsg = document.getElementById('error-msg');
      let dialogueOutput = document.getElementById('dialogue-output');
      let selectedContactNumber;
      let contactName;

      // Function to set cookie data
      function setCookie(cname, cvalue, exdays) {
        let d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      // Getting data from the cookie
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
      }

      // delete cookie
      function deleteCookie(name) {
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }

      let token = getCookie('token');
      
      if (!token || token === undefined) {
        alert('You are not logged into your account!');
        window.location.href = "http://localhost:3000/";
        document.errorMsg = 'You are not logged into your account!';
      }
    
      let ws = new WebSocket('ws://localhost:8080');
  
      ws.onopen = function() {
        console.log('Connection established');
        ws.send(JSON.stringify({
          action: "getContacts",
          token: token
        }));
      }

      ws.onmessage = function(msg) {
  
        let data = JSON.parse(msg.data);
        
        if (data.type === 'contacts') {
          contacts.innerHTML = '';
          data.contacts.forEach(function(contact) {
    
            let li = document.createElement('li');

            li.className = 'contact';
            li.innerHTML = '<span class="contact-name">' + contact.name + '</span>' + contact.number;
            li.addEventListener('click', function() {
              selectedContactNumber = contact.number;
              contactName = contact.name;
              document.querySelector('label').innerHTML = contactName;
              ws.send(JSON.stringify({
                action: "getMessages",
                contactNumber: contact.number,
                token: token
              }));
            });

            contacts.appendChild(li);
          });
        } else if (data.type === 'messages') {
          dialogueOutput.innerHTML = '';
          data.messages.forEach(function(message) {
            let div = document.createElement('div');
            div.className = (message.sender === selectedContactNumber) ? 'sent-message Output' : 'received-message Output'; 
            let date = new Date(message.created_date);
            div.innerHTML = `${message.message}<br><span class='msg-created-date' style="font-size:10px;">${date.toLocaleTimeString()} | ${date.toLocaleDateString()}</span>`;
            dialogueOutput.appendChild(div);
            dialogueOutput.scrollTop = dialogueOutput.scrollHeight;
          });
        }
      }
		
      message.addEventListener('input', function() {
        if (message.value.length > 0) {
          sendBtn.disabled = false;
        } else {
          sendBtn.disabled = true;
        }
      });

      sendBtn.addEventListener('click', function() {
        ws.send(JSON.stringify({
          action: 'send',
          message: message.value,
          contactNumber: selectedContactNumber,
          token: token
        }));
        message.value = '';
        sendBtn.disabled = true;
      });
  
      refreshBtn.addEventListener('click', function() {
        ws.send(JSON.stringify({
            type: 'getContacts',
            token: token
        }));
        document.querySelector('label').innerHTML = contactName;
      });

      let editContactWindow = document.createElement('div');

      editContactWindow.innerHTML = 
      '<div class="input-field">' +
        '<label>Name:</label>' +
        '<input type="text" id="editName">' +
      '</div>' +
      '<div class="input-field">' +
        '<label>Number:</label>' +
        '<input type="text" id="editNumber" disabled>' +
      '</div>' +
      '<div class="input-field">' +
        '<button type="button" id="saveEditButton">Save</button>' +
        '<button type="submit" id="cancel-btn-edit">Cancel</button>' +
      '</div>' +
      '<input type="hidden" id="token" value="' + token +'">' +
      '<div class="error-msg" id="edit-contact-error-msg"></div>';

      editContactWindow.id = 'edit-contact-window';
      editContactWindow.style.display = 'none';

      container.appendChild(editContactWindow);

      let showEditContact = function() {
        editContactWindow.style.display = 'block';
      };

      let hideEditContact = function() {
        editContactWindow.style.display = 'none';
        editContactBtn.style.display = 'block';
      };

      let editNameInput = document.getElementById('editName');
      let editNumberInput = document.getElementById('editNumber');
      let editContactErrorMsg = document.getElementById('edit-contact-error-msg');

      let errorMsgDiv = document.createElement('div');
      errorMsgDiv.style.marginTop = '30px';

  
      let editContactBtn = document.getElementById('edit-contact-btn');

      editContactBtn.addEventListener('click', () => {
          if (selectedContactNumber === undefined || selectedContactNumber === null) {
                errorMsg.innerHTML = 'Please select a contact to edit.';
          } else {
            errorMsg.innerHTML = '';
            let editNumberInput = document.getElementById('editNumber');
            editNumberInput.value = selectedContactNumber;
            showEditContact();
          }
      });
  
      let saveEditButton = document.getElementById('saveEditButton');

      saveEditButton.addEventListener('click', () => {
        ws.send(JSON.stringify({
          action: "updateContactName",
          contactMobile: editNumberInput.value,
          newName: editNameInput.value,
          token: token
        }));
        hideEditContact();
      });

      editContactWindow.addEventListener('click', () => {
        editNumberInput.value = selectedContactNumber;
      });
      
      let showListBtn = document.getElementById('show-list-btn');
      let logOutBtn = document.getElementById('logout-btn');

      let addContactWindow = document.createElement('div');
  
      addContactWindow.innerHTML = 
      '<div class="input-field">' +
        '<label>Name:</label>' +
        '<input type="text" id="name">' +
      '</div>' +
      '<div class="input-field">' +
        '<label>Number:</label>' +
        '<input type="text" id="number">' +
      '</div>' +
      '<div class="input-field">' +
        '<button type="button" id="addContactButton">Add Contact</button>' +
        '<button type="submit" id="cancel-btn">Cancel</button>' +
      '</div>' +
      '<input type="hidden" id="token" value="' + token +'">' +
      '<div class="error-msg" id="add-contact-error-msg"></div>';

      
      addContactWindow.id = 'add-contact-window';
      addContactWindow.style.display = 'none';
  
      container.appendChild(addContactWindow);
  
      let showAddContact = function() {
        addContactWindow.style.display = 'block';
      };
  
      let hideAddContact = function() {
        addContactWindow.style.display = 'none';
        addContactBtn.style.display = 'block';
      };
  
      let nameInput = document.getElementById('name');
      let numberInput = document.getElementById('number');
      let addContactErrorMsg = document.getElementById('add-contact-error-msg');
  
      showListBtn.addEventListener('click', showAddContact);
  
      let addContactButton = document.getElementById('addContactButton');

      logOutBtn.addEventListener('click', () => {
        deleteCookie('token');
        window.location.href = "http://localhost:3000/";
      });

      addContactButton.addEventListener('click', function() {
        let name = nameInput.value;
        let number = numberInput.value;
        
        if (name === '' || number === '') {
          addContactErrorMsg.innerHTML = 'Name and Number are required';
        } else if (number ==! 11) {
          addContactErrorMsg.innerHTML = 'The number must be 11 digits';
        } else {
            ws.send(JSON.stringify({
            action: 'addContact',
            name: name,
            number: number,
            token: token
            }));
            
            addContactErrorMsg.innerHTML = '';
            nameInput.value = '';
            numberInput.value = '';
            hideAddContact();
          }
        });   

      let cancelBtn = document.getElementById('cancel-btn');
      cancelBtn.addEventListener('click', hideAddContact,);

      let cancelBtnEdit = document.getElementById('cancel-btn-edit');
      cancelBtnEdit.addEventListener('click', hideEditContact);
    
      let mainContainer = document.getElementById('mainContainer');
      let bottomContainer = document.getElementById('container');
      bottomContainer.appendChild(document.querySelector('#add-contact-window')); 
    </script>
</body>
</html>
