<!DOCTYPE html>
<html lang="en">
<head>
	<title>Messaging Page</title>
	<style>
		body {
  			background-color: #f2f2f2;
  			font-family: sans-serif;
		}
		#container {
  			width: 480px;
  			margin: auto;
		}
		.input-field {
  			width: 100%;
  			margin-top: 20px;
  			margin-bottom: 20px;
		}
		.input-field input {
  			width: 100%;
  			height: 30px;
  			padding: 0 10px;
  			border: 1px solid #ccc;
  			outline: none;
		}
		.input-field button {
  			background-color: #4CAF50;
  			border: none;
  			color: white;
  			padding: 10px 20px;
  			text-align: center;
  			text-decoration: none;
  			cursor: pointer;
  			outline: none;
		}
		.error-msg {
  			color: red;
		}
	</style>
</head>
<body>
  <div id="container">
    <%
      let contacts;
      let message;
      let sendBtnDisabled;
      let errorMsg;
      let token;
    %>
    <div class="input-field">
      <label>Contact List:</label>
      <ul id="contacts"><%= contacts %></ul>
    </div>
    <div class="input-field">
      <label>Header of Dialogue Space:</label>
    </div>
    <div class="input-field">
      <form action="">
        <label>Chat Space and Message List:</label>
        <textarea name="" id="messages" cols="30" rows="2"><%= message %></textarea>
      </form>
    </div>
    <div class="input-field">
      <label>Send Message:</label>
      <form action="">
        <input type="text" id="message" value="<%= message %>"/>
        <button type="submit" id="send-btn" <%= sendBtnDisabled %>>Send</button>
        <button type="submit" id="refresh-btn">Refresh</button>
      </form>
    </div>
    <div class="error-msg" id="error-msg"><%= errorMsg %></div>
  </div>
    <script>
      let contacts = document.getElementById('contacts');
      let message = document.getElementById('message');
      let sendBtn = document.getElementById('send-btn');
      let refreshBtn = document.getElementById('refresh-btn');
      let errorMsg = document.getElementById('error-msg');
      let messages = document.getElementById('messages');

      // Function to set cookie data
      function setCookie(cname, cvalue, exdays) {
          let d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          let expires = "expires="+ d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      // Getting data from the cookie
      function getCookie(cname) {
          let name = cname + "=";
          let decodedCookie = decodeURIComponent(document.cookie);
          let ca = decodedCookie.split(';');
          for(let i = 0; i <ca.length; i++) {
              let c = ca[i];
              while (c.charAt(0) == ' ') {
                  c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
              }
          }
          return "";
      }

      let token = getCookie('token');
    
      let ws = new WebSocket('ws://localhost:8080');
  
      ws.onopen = function() {
        console.log('Connection established');
        ws.send(JSON.stringify({
          action: "getContacts",
          token: token
        }));
      }
  
      ws.onmessage = function(msg) {
  
        let data = JSON.parse(msg.data);
        
        if (data.type === 'contacts') {
          contacts.innerHTML = '';
          data.contacts.forEach(function(contact) {
    
          let li = document.createElement('li');
          li.innerHTML = contact.name + ' ' + contact.number;
          
          contacts.appendChild(li);
    
          let getMessagesBtn = document.createElement('button');
    
          getMessagesBtn.innerHTML = 'Get Messages';
    
          getMessagesBtn.addEventListener('click', function() {
            ws.send(JSON.stringify({
            type: 'getMessages',
            contactNumber: contact.number,
            token: token
          }));
          });
    
          contacts.appendChild(getMessagesBtn);
          });
        } else if (data.type === 'messages') {
            contacts.innerHTML = '';
            data.messages.forEach(function(message) {
            let li = document.createElement('li');
            li.innerHTML = message.sender + ': ' + message.message;
            contacts.appendChild(li);
            });
        }
      }
       
      message.addEventListener('input', function() {
        if (message.value.length > 0) {
          sendBtn.disabled = false;
        } else {
          sendBtn.disabled = true;
        }
      });
  
      sendBtn.addEventListener('click', function() {
        ws.send(JSON.stringify({
          action: 'send',
          message: message.value,
          token: token
        }));
        message.value = '';
        sendBtn.disabled = true;
      });
  
      refreshBtn.addEventListener('click', function() {
        ws.send(JSON.stringify({
          action: 'getContacts',
          token: token
        }));
      });
  
      let addContactBtn = document.createElement('button');
      let showListBtn = document.createElement('button');
      let container = document.getElementById('container');
  
      addContactBtn.innerHTML = 'Add Cont';
      addContactBtn.id = 'add-contact-btn';

      showListBtn.innerHTML = 'Show List';
      showListBtn.id ='show-list-btn';

      container.appendChild(addContactBtn);
      container.appendChild(showListBtn);
  
      let addContactWindow = document.createElement('div');
  
      addContactWindow.innerHTML = '<div class="input-field">' + '<label>Name:</label>' + '<input type="text" id="name">' + '</div>' + '<div class="input-field">' + '<label>Number:</label>' + '<input type="text" id="number">' + '</div>' + '<div class="input-field">' + '<button type="submit" id="add-contact-btn">Add Contact</button>' + '<button type="submit" id="cancel-btn">Cancel</button>' + '</div>' + '<input type="hidden" id="token" value="' + token + '">' + '<div class="error-msg" id="add-contact-error-msg"></div>';
  
      addContactWindow.id = 'add-contact-window';
      addContactWindow.style.display = 'none';
  
      container.appendChild(addContactWindow);
  
      let showAddContact = function() {
        addContactWindow.style.display = 'block';
        // addContactBtn.style.display = 'none';
        showListBtn.style.display = 'none';
      };
  
      let hideAddContact = function() {
        addContactWindow.style.display = 'none';
        addContactBtn.style.display = 'block';
        showListBtn.style.display='block';
      };
  
      let nameInput = document.getElementById('name');
      let numberInput = document.getElementById('number');
      let addContactErrorMsg = document.getElementById('add-contact-error-msg');
  
      showListBtn.addEventListener('click', showAddContact);
  
      document.getElementById('cancel-btn').addEventListener('click', hideAddContact);
  
      addContactBtn.addEventListener('click', function() {
        console.log(`207 messaging.ejs addEventListener`);
        let name = nameInput.value;
        let number = numberInput.value;
        
        if (name === '' || number === '') {
          addContactErrorMsg.innerHTML = 'Name and Number are required';
        } else {
          ws.send(JSON.stringify({
          action: 'addContact',
          name: name,
          number: number,
          token: token
          }));
          
          addContactErrorMsg.innerHTML = '';
          nameInput.value = '';
          numberInput.value = '';
          hideAddContact();
        }
      });  
      
      let cancelBtn = document.getElementById('cancel-btn');
      cancelBtn.addEventListener('click', hideAddContact);
    </script>
</body>
</html>